.jumbotron {
	background-color: #98c21d;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top:10px;
}

.steps {
	margin-bottom: 0px;
}

.card-dulce{
	flex: 1 200px;
	margin-top:10px;
}	

.btn-dulce{
	width: 100%;
	border-radius: 0px;
}